/* Star Jedi */
@font-face {
    font-family: 'Star Jedi';
    src: url('/assets/fonts/star-jedi-font/StarJedi-DGRW.ttf') format('truetype');
}

@font-face {
    font-family: 'Star Jedi Hollow';
    src: url('/assets/fonts/star-jedi-font/StarJediHollow-A4lL.ttf') format('truetype');
}

@font-face {
    font-family: 'Star Jedi Rounded';
    src: url('/assets/fonts/star-jedi-font/StarJediRounded-jW3R.ttf') format('truetype');
}

/* Death Star */
@font-face {
    font-family: 'Death Star Font';
    src: url('/assets/fonts/death-star-font/DeathStar-VmWB.ttf') format('truetype');
}